.container{
    padding: 1%;
    margin: 1%;
}
div.container{
 width: 40%;
 border: 1px solid grey;
 border-radius: 3px;
  
}
button.container{
    width: 25%;
    float: right;
}
input.container{
    width: 65%;
    float: right;
}